[submodule "3rdparty/YRpp"]
	path = 3rdparty/YRpp
	url = https://github.com/Xkein/YRpp.git
[submodule "3rdparty/CppHeaderTool"]
	path = 3rdparty/CppHeaderTool
	url = https://github.com/Xkein/CppHeaderTool.git
[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/thedmd/imgui.git
[submodule "3rdparty/imgui-node-editor"]
	path = 3rdparty/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/puerts"]
	path = 3rdparty/puerts
	url = https://github.com/Tencent/puerts.git
[submodule "3rdparty/JoltPhysics"]
	path = 3rdparty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "content/yr_wwise_template"]
	path = content/yr_wwise_template
	url = https://github.com/Xkein/yr_wwise_template.git
[submodule "3rdparty/gainput"]
	path = 3rdparty/gainput
	url = https://github.com/jkuhlmann/gainput.git
